# Ignore node modules
node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
build

# System files
.DS_Store
Thumbs.db

# Environment files (optional, if you copy them some other way)
.env
